<div [formGroup]="group" [ngClass]="{'has-error': isHasError()}">    
    <label class="form-control-label">{{label}} <span *ngIf="isRequired" class="show-required">(*)</span></label>
    <select class="form-control" [ngClass]="{'is-invalid': isValid}" [formControlName]="controlName">
        <!-- <ng-container *ngTemplateOutlet="parentTemplate; context: {$implicit: item}">
         </ng-container> -->
        <option *ngFor="let item of listCodes" value="{{item.getCode()}}">{{item.getDescription()}}</option>
        <!-- <option value="M">Matriculado</option>
        <option value="P">Pre-inscrito</option>       -->
    </select>
    <div class="invalid-feedback">
        {{errorMessage}}
    </div>
</div>