<div class="container-fluid">
  <!-- <app-toolbar [configId]="2" (clickToolbar)="onClickToolbar($event)"></app-toolbar>   -->
  
  <app-datatable placeHolderSearch="Buscar Productos" btnNameToAdd="Crear Productos" cardTitle="Productos Registrados" [cols]="cols"
        [fields]="fiels" [data]="data" groupData="Product" (onClickRemoveDetail)="onRemoveDetail($event)" (onClickUpdateDetail)="onUpdateDetail($event,'product')"
        (onClickViewDetail)="onViewDetail($event,'product')" (onClickAddRow)="onAddNewRow('product')"
        (onSearch)="onSearch($event)"></app-datatable>
        
  <app-modal-form #dialog title="Registrar Producto" (onSaveModal) = "onSave($event)" formId="productFormId"
    [isDisabled]="isbtnSaveDisabled" [closeModal]="isCloseModal" (onChangeCloseModal)="onChangeCloseModal($event)" 
    [showCheckCloseModal]="isShowCheckCloseModal">
      <app-product-form (onSubmit)="onSubmitForm()" (onAfterSave)="onAfterSave($event)" (onAfterLoad)="onAfterLoad()"></app-product-form>
  </app-modal-form>

  <app-confirm-modal></app-confirm-modal>
</div>
