<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" 
  *ngFor="let group of _configurationService.configToolbar.btngroup">
  <div class="btn-group btn-group-sm" role="group" aria-label="group.name" 
  *ngFor="let item of group.items">
    
    <button type="button" class="btn btn-secondary btn-sm">{{item.name}}</button>
  </div>
  
</div>

<ng-template #btnContent>
    <div *ngIf="item.type == 'button';then btnContent else drpContent"></div>
    <button type="button" class="btn btn-secondary btn-sm">{{item.name}}</button>
</ng-template>
<ng-template #drpContent>
    <div class="dropdown">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{item.defaultValue}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Toda la lista de alumnos</a>
        <a class="dropdown-item" href="#">Alumnos por remito</a>
        <a class="dropdown-item" href="#">Alumnos pre-inscritos</a>
      </div>
    </div>
</ng-template>